.flex-container {
  display: flex;
}

.flex-item {
  flex: 4;
  order: 2;
}

.flex-item:nth-child(2) {
  order: 1;
  background-color: grey;
  flex: 1;
}

@media screen and (max-width:640px) {
  .flex-container { flex-wrap: wrap; }
  .flex-item:first-child { flex-basis: 100%; }
  .flex-item:nth-child(2) { text-align:left; }

}
