/*@import '../../node_modules/hiq/dist/hiq.min.css';*/
@import '../../node_modules/milligram/dist/milligram.css';

.monsterSearch {
    max-width: 500px;
    margin: 0 auto;
    padding: 1em 3em;
}

.monsterSearch .searchField label{
    display: inline;
}

.monsterSearch .searchField input, .monsterSearch .searchField select{
    width: inherit;
}

.monsterSearch .searchField input{
    width: 60px;
}

.monsterSearch .searchField input[type="text"] {
    width: 100px;
}

.ReactTable .rt-td {
    padding: 0;
}

h3 {
    padding-left: 1em;
}

.hidden {
    display:none;
}