/*@import '../../node_modules/hiq/dist/hiq.min.css';*/
@import '../../node_modules/milligram/dist/milligram.css';

.monsterSearch {
    max-width: 500px;
    margin: 0 auto;
    padding: 1em 3em;
}

.monsterSearch .searchField label{
    display: inline;
}

.monsterSearch .searchField input, .monsterSearch .searchField select{
    width: inherit;
}

.ReactTable .rt-td {
    padding: 0;
}